

.sub{
    padding-top: 6rem;
    padding-bottom: 2rem;
   
    
h2 {
  text-align: center;
}

.from{
  max-width: 40rem;
  margin: 0 auto;
   box-shadow: 0 1px 1px 0 black;
   padding: 5%;
   
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color:#C69C63;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color:#1A1515;
}
.v
{
  color: red;
}
}