// .containerAboveImage {
//     width: 100%;
//     margin: 90px auto 0 auto;
//     background-image: url("bg2.jpg");
//     background-attachment: fixed;
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 30vh;
//     background-attachment: fixed;
//     .contentAboveImage {
//       color: #fff;
//       text-align: center;
//       padding: 50px;
//       h1 {
//         text-transform: capitalize;
//         text-shadow: 0 0 3px rgb(25, 21, 20);
             
//         span {
//           text-shadow: 0 0 4px rgb(206, 164, 105);
//           font-weight: 600;
//         }
//       }
//     }
// }
// .chat-container {
//   width: 400px;
//   margin: 20px auto 100px auto;
//   border: 1px solid #ccc;
//   border-radius: 5px;
//   overflow: hidden;
// }

// .delete {
//   color: #ff0000;
//   cursor: pointer;
//   margin-left: 5px;
// }

// .edit {
//   color: #007bff;
//   cursor: pointer;
// }

// .chat-messages {
//   max-height: 300px;
//   overflow-y: auto;
//   padding: 10px;
// }

// .message {
//   margin: 5px;
//   padding: 8px;
//   border-radius: 5px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .customer {
//   background-color: rgb(170, 126, 79, 0.4);
// }

// .lawyer {
//   background-color: #f0f0f0;
// }

// .avatar {
//   width: 30px;
//   height: 30px;
//   border-radius: 50%;
//   margin-right: 10px;
// }

// .avatar.customer {
//   margin-left: 10px;
//   margin-right: 0;
// }

// .message-content {
//   flex: 1;
// }

// .chat-input {
//   display: flex;
//   padding: 10px;
// }

// input {
//   flex: 1;
//   padding: 8px;
//   border: 1px solid #ccc;
//   border-radius: 5px;
//   margin-right: 10px;
// }

// .editButton {
//   padding: 5px;
//   border: 1px solid     rgb(170, 126, 79)
// ;
//   border-radius: 5px;
//   background-color:     rgb(170, 126, 79)
// ;
//   color: #fff;
//   cursor: pointer;
//   height: 40px;
// }

// .upload-button {
//   display: flex;
//   align-items: center;
//   padding: 5px;
//   border: 1px solid     rgb(170, 126, 79);
//   border-radius: 5px;
//   background-color:     rgb(170, 126, 79);
//   color: #fff;
//   cursor: pointer;
//   height: 40px;
// }

// .modal-overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: rgba(0, 0, 0, 0.5);
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .modal-overlay {
//   background: #fff;
//   padding: 20px;
//   border-radius: 5px;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
// }

// .modal-overlay h2 {
//   margin-bottom: 10px;
// }

// .modal-overlay p {
//   margin-bottom: 8px;
// }

// .modal-overlay button {
//   padding: 5px;
//   border: 1px solid #007bff;
//   border-radius: 5px;
//   background-color: #007bff;
//   color: #fff;
//   cursor: pointer;
// }

$light-blue: #28a5edcc;
$light-gray: #7e878c;
$dark-grey: #3f3f3f;
$white: #ffffff;
@mixin flexing($fd, $jc, $ai) {
  display: flex;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
main {
  width: 95%;
  margin-left: 20px;
  margin-top: 4px;
  border-radius: 10px;

  .header-chat {
    background-color: $light-blue;
    color: $white;
    padding: 7px 20px;

    .titileChat {
      @include flexing(row, space-between, center);
      h1 {
        font-size: 32px;
      }
      button {
        background-color: transparent;
        border: none;
        outline: none;
      }
    }
  }
  .container-chat {
    // min-height: 65vh;
    background-color: #f0f0f0;
    padding: 20px;
    width: 100%;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    @include flexing(row, flex-start, stretch);
    .user-window {
      width: 250px;
      color: $white;
      background-color: $dark-grey;
      padding: 15px 20px;
      border-radius: 10px;
      margin-right: 20px;
      .user-header {
        @include flexing(row, space-between, center);
        margin-bottom: 15px;
        h4 {
          background-color: $light-gray;
          padding: 0 8px;
          border-radius: 50px;
        }
      }
      .user-list p {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;
        cursor: pointer;
        &:hover {
          background-color: #4e4e50;
        }
      }
    }
    .chat-window {
      width: 100%;
      border-radius: 10px;
      background-color: $dark-grey;
      .chats {
        min-height: 40vh;
        padding: 20px;
        .user-join {
          font-size: 0.9rem;
          color: $dark-grey;
          background-color: $white;
          border-radius: 50px;
          width: max-content;
          padding: 7px 20px;
          margin: 0 auto;
          margin-bottom: 15px;
        }
        .message {
          color: $dark-grey;
          background-color: $white;
          padding: 5px 15px;
          margin-bottom: 15px;
          max-width: 400px;
          border-radius: 10px 50px 50px 10px;
          p {
            font-size: 16px;
          }
        }
        div.outgoing {
          margin-left: auto;
          color: $white;
          background-color: $light-blue;
          border-radius: 50px 10px 10px 50px;
          text-align: right;
        }
      }
      .user-input {
        @include flexing(row, space-between, stretch);
        padding: 20px;
        .text-input {
          font-size: 16px;
          background-color: $white;
          padding: 10px 20px;
          outline: none;
          border: none;
          width: 100%;
          border-radius: 50px 0 0 50px;
        }
        .send-btn {
          font-size: 16px;
          font-weight: 500;
          padding: 5px 15px;
          border: none;
          outline: none;
          letter-spacing: 0.5px;
          color: $white;
          background-color: $light-blue;
          height: 40px;
          border-radius: 0 50px 50px 0;
        }
      }
    }
  }
}
