@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
:root{
    --box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    --transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
    --font: "Roboto Condensed", sans-serif;
    --size: 1rem;

    // font sizes
--font-size-base: 16px;

// Headings
--font-size-h1: calc(var(--font-size-base) _ 2.5);
--font-size-h2: calc(var(--font-size-base) _ 2);
--font-size-h3: calc(var(--font-size-base) _ 1.75);
--font-size-h4: calc(var(--font-size-base) _ 1.5);
--font-size-h5: calc(var(--font-size-base) _ 1.25);
--font-size-h6: calc(var(--font-size-base) _ 1.125);

// Paragraph
--font-size-p: var(--font-size-base);

// Links
--font-size-a: var(--font-size-base);
}


a{
text-decoration: none;
font-size: var(--font-size-a);
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Paymentone{
    width: 80%;
    margin: auto;
    font-family: var(--font);  
}
.sp{
  color:rgb(211, 168, 108) ;
}
.containers{
  width: 200%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:80px;
  height: 350px;
  background: #fff;
  margin-top: 100px;
}
.containers form{
 padding-left: 1rem;
 padding-right: 1rem;
  width:700px;
  background: rgb(232, 239, 238);
  box-shadow: var(--box-shadow);
}

.containers form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.containers form .row .col{
  flex:1 1 250px;
}

.containers form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.containers form .row .col .inputBox{
  margin:15px 0;
}

.containers form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.containers form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.containers form .row .col .flex{
  display: flex;
  gap:15px;
}

.containers form .row .col .flex .inputBox{
  margin-top: 5px;
}

.containers form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.containers form .submit-btn{
  width: 50%;
  padding:12px;
  font-size: 17px;
  background: rgb(211, 168, 108);
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
  border: none;
}

.containers form .submit-btn:hover{
  background: rgb(211, 168, 108);
    border: none;

}




.containers form .row .col .inputBox select {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
  
}


.containers form .row .col .inputBox select:hover,
.containers form .row .col .inputBox select:focus {
  border-color: #555;
  
}

.containers form .row .col .inputBox select option {
  background: #fff;
  color: #000;
   
}


.PaymentFillModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   z-index: 1000; /* Ensure the modal is on top of other content */
 
  .PaymentFillModalContent {
    // background: white;
    padding: 20px;
    border-radius: 8px;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 400px;
    margin-bottom: 4rem;
    margin-top: 1rem;
    margin-left: -20rem;
  }

  .close-btn {
    background-color: #4b8b4d;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
    width: 50%;
  font-size: 17px;

 ;
 
  }

  .close-btn:hover {
    background-color:rgb(211, 168, 108);
  }
.pbtn{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.texsub1
{
 margin-left: -2.9rem;
}
}
.ss
{
 
  padding-left: 0.8rem;
   font-weight: bold;
}
