/* AppointmentForm.css */
.appointment{
    width: 100%;
    display: flex;
    // margin-top: 20px;

.appointment1 img{
    max-height: 77%;
    // max-width: 60%;
}
.appointment-form-container {
  max-width: 900px;
  max-height: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: grid;
  gap: 10px;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  background-color:rgb(206, 164, 105);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
}